<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link href= "{{ url_for('static',filename='css/sign.css') }}" rel="stylesheet" />
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active"> Log IN </h2>
          <!-- <h2 class="inactive underlineHover">Sign Up </h2> -->
      
          <!-- Icon -->
          <div class="fadeIn first">
            <h2 class="active">Admin Login</h2>
          </div>
      
          <!-- Login Form -->
          <form action="/dashboard" method="post">
            <input type="text" id="uname" class="fadeIn second" name="uname" placeholder="Enter User Name">
            <input type="text" id="pass" class="fadeIn third" name="pass" placeholder="Enter password">
            <input type="submit" class="fadeIn fourth" value="Log In">
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="/">Go to Home</a>
          </div>
      
        </div>
      </div>
</body>
</html>